:root {
    --turquoise: #008081;
    --light-turquoise: #01cbcb;
    --yellow: #f8b80e;
    --search-button-active: rgba(0, 128, 129, 0.07);
    --font-gray-light: #9daeb0;
    --border-gray-light: #dadada;
    --background-gray-light: #fcf8e5;
    --heading: #343a41;
    --months: rgba(106, 110, 116, 255);
    --filter-outline: rgba(106, 110, 116, 255);
    --container-outline: rgba(218, 218, 218, 255);
}

html {
    box-sizing: border-box;
    font-size: 1.6vw;
}

body {
    font-family: 'Alexandria', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1% 15%;

}

h1, h2, h3, h4 {
    color: var(--heading);
    margin: 0;
    letter-spacing: -1px;
padding: 0;
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;

}

h2 {
    font-size: 0.8rem;
    font-weight: 300;

}

h3 {
    font-size: 0.7rem;
    font-weight: 300;
}

h4 {
    font-size: 0.85rem;
    font-weight: 500;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: medium;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.bp {
    background-color: var(--light-turquoise);
}

.bpjr {
    background-color: var(--yellow);
}
*, *:before, *:after {
    box-sizing: inherit;
}