:root {
    --turquoise: #008081;
    --light-turquoise: #01cbcb;
    --yellow: #f8b80e;
    --search-button-active: rgba(0, 128, 129, 0.07);
    --font-gray-light: #9daeb0;
    --border-gray-light: #dadada;
    --background-gray-light: #fcf8e5;
    --heading: #343a41;
}

html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Alexandria', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--heading);
    padding: 1% 10%;
}

.bp-font-xl {
    font-size: 2.4em !important;
}

.bp-font-lg {
    font-size: 1.5em !important;
}

.bp-font-md {
    font-size: 1.3em !important;
}

.bp-font-sm {
    font-size: 1.1em !important;
}

.bp-font-xs {
    font-size: 0.9em !important;
}

.bp-font-bold {
    font-weight: normal !important;
    text-shadow: 0.01rem 0.01rem 0.07rem !important;
}

.bp-font-normal {
    font-weight: normal !important;
    text-shadow: 0.01rem 0.01rem 0.05rem !important;
}

.bp-font-light {
    font-weight: 300 !important;
    text-shadow: 0.01rem 0.01rem 0.01rem !important;
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: medium;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bp-hidden-content {
    width: 100%;
    height: 100%;
    background-image: url("brain-pop-guy.png");
    background-repeat: no-repeat;
    z-index: 10;
    background-size: contain;
    background-position: center;
    pointer-events: none;
}

.bp-hidden-content > * {
    filter: blur(5px);
}

.bp-text-turquoise {
    color: var(--turquoise)
}

.bp-text-light-gray {
    color: var(--font-gray-light) !important;
}

.bp-text-dark {
    color: var(--heading) !important;
}

.bp-d-flex {
    display: flex!important;
}

.bp-flex-column {
    flex-direction: column !important;
}

.bp-align-center {
    align-items: center !important;
}
.bp-justify-end {
    justify-content: flex-end !important;
}
.bp-justify-between {
    align-content: space-between !important;
}

.bp-flex-fill {
    flex-grow: 1 !important;
}
.align-items-end {
    align-items: flex-end!important;
}

.bp-align-self-center {
    align-self: center !important;
}

.bp-flex-gap-1 {
    gap: 0.2rem!important;
}

.bp-flex-gap-2 {
    gap: 0.5rem!important;
}

.bp-flex-gap-3 {
    gap: 1rem!important;
}

.bp-w-4 {
    max-width: 5% !important;
}

.bp-w-10 {
    max-width: 10% !important;
}

.line-through::after {
    content: "";
    line-height: 100%;
    margin: 0;
    width: 2px;
    margin-inline-start: 4rem;
    border-inline-end: 0.15rem solid var(--border-gray-light);
}

@media (max-width: 575px) {
    body{
        padding: 1rem 1.1rem!important;
    }
    .bp-font-xl {
        font-size: 1.3em !important;
    }

    .bp-font-lg {
        font-size: 1em !important;
    }

    .bp-font-md {
        font-size: 0.8em !important;
    }

    .bp-font-sm {
        font-size: 0.6em !important;
    }

    .bp-font-xs {
        font-size: 0.4em !important;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    body{
        padding: 1rem 2rem!important;
    }
    .bp-font-xl {
        font-size: 1.8em !important;
    }

    .bp-font-lg {
        font-size: 1.3em !important;
    }

    .bp-font-md {
        font-size: 1em !important;
    }

    .bp-font-sm {
        font-size: 0.9em !important;
    }

    .bp-font-xs {
        font-size: 0.6em !important;
    }
}

@media (min-width: 992px) and  (max-width: 1200px){
    body{
        padding: 1.2rem 2.2rem!important;
    }
    .bp-font-xl {
        font-size: 2em !important;
    }

    .bp-font-lg {
        font-size: 1.5em !important;
    }

    .bp-font-md {
        font-size: 1.1em !important;
    }

    .bp-font-sm {
        font-size: 0.9em !important;
    }

    .bp-font-xs {
        font-size: 0.6em !important;
    }
}

